<!DOCTYPE html>
<html>
<head>
  <%= include_gon %>

  <meta name="viewport" content="initial-scale=1.0" />
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmCWMVKVJvNyUrCwP6yIwLApM9qFVpu2c&libraries=places,drawing,geometry&v=3&callback=findDistances"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto" rel="stylesheet">

</head>
<body>
  <div id="page-title">LANDMARKS<br>& PARKS</div>
  <div id="header">
    <input type="text" id="amount" readonly>
    <div id="slider-range">
      <div id="custom-handle1" class="ui-slider-handle"></div>
      <div id="custom-handle2" class="ui-slider-handle"></div>
    </div>
  </div>
  <div class = "nav-bar">
    <div id="button">
      Go
    </div>
    <div id="search">Search (optional): <input id="searchInput" type="text"></div>
    <select id="sort">
          <option value="increasing">Increasing distance</option>
          <option value="decreasing">Decreasing distance</option>
    </select>
  </div>

  <div id="margins">
    <div id="no-results">
      No routes were found for the request. Please try requesting new data with the "Go" button above, or change the mileage range. Frequent requests may result in a Google Maps query limit error.
    </div>

    <div id="all">
     <div id="loading">
        <img id="loading-img" src="loading2.gif">
      </div>
      <div class="frame">
        <div class="right-panel" id="rp0">
        </div>
        <div class="map" id="m0"></div>
      </div>
      <div class="frame">
        <div class="right-panel" id="rp1"></div>
        <div class="map" id="m1"></div>
      </div>
      <div class="frame">
        <div class="right-panel" id="rp2"></div>
        <div class="map" id="m2"></div>
      </div>
      <div class="frame">
        <div class="right-panel" id="rp3"></div>
        <div class="map" id="m3"></div>
      </div>
      <div class="frame">
        <div class="right-panel" id="rp4"></div>
        <div class="map" id="m4"></div>
      </div>
      <div class="frame">
        <div class="right-panel" id="rp5"></div>
        <div class="map" id="m5"></div>
      </div>
      <div class="frame">
        <div class="right-panel" id="rp6"></div>
        <div class="map" id="m6"></div>
      </div>
      <div class="frame">
        <div class="right-panel" id="rp7"></div>
        <div class="map" id="m7"></div>
      </div>
      <div class="frame">
        <div class="right-panel" id="rp8"></div>
        <div class="map" id="m8"></div>
      </div>
    </div>
  </div>
</body>
</html>