// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.baltimore-map {
	height: 400px;
    width: 800px;
    margin: auto;
}

.center-button {
	background-color: white;
	margin: 10px;
	cursor: pointer;
	padding: 10px;
	&:hover {
		background-color: #D3D3D3;
	}
}

#slider-range .ui-slider-range { background: #8ae234; }

#slider-range .ui-slider-handle { 
	border-color: #8ae234;
	width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#button {
	width: 200px;
	padding: 20px;
	margin: 50px;
	background-color: gray;
	cursor: pointer;
}

