// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .baltimore-map {
// 	height: 400px;
//     width: 800px;
//     margin: auto;
// }

// .center-button {
// 	background-color: white;
// 	margin: 10px;
// 	cursor: pointer;
// 	padding: 10px;
// 	&:hover {
// 		background-color: #D3D3D3;
// 	}
// }

body, html {
	font-family: 'Roboto','sans-serif';
    margin: 0;
    padding: 0;
    width: 100%;
}

#page-title {
	font-family: 'Bungee Shade', cursive;
	padding: 0px 200px;
    font-size: 100px;
    text-align: right;
    background-color: rgba(0, 116, 217, 0.58);
    padding-bottom: 15px;
}

#slider-range .ui-slider-range { background: #8ae234; }

#slider-range .ui-slider-handle { 
	border-color: #8ae234;
	width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#amount {
	width: 100%;
	border: 0; 
	font-size: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #d3d3d3;
}

// nav bar

#header {
	height: 260px;
	padding: 0px 200px;
	background-color: #d3d3d3;
}
.nav-bar {
	margin-top: -60px;
	position: relative;
	width: 100%;
	height: 60px;
    background-color: #b3b3b3;
    z-index: 150;
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, .6);
    font-weight: 300;

}

.nav-scrolled {
	position: fixed;
	top: 60px;
}

#button {
	position: relative;
    display: inline-block;
	width: 300px;
    height: 100%;
    border-right: 3px solid #666666;
    background-color: #8ae234;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}

#search {
	padding-left: 20px;  
	font-size: 20px;
    display: inline-block;
    position: absolute;
    line-height: 60px;
    input {
    	font-size: 30px;
		background-color: #b3b3b3;
    	border: none;
    	border-bottom-width: 2px;
    	border-bottom-style: solid;
    }
}

#sort {
	display: inline-block;
	right: 0px;
	position: absolute;
    margin-top: 20px;
    height: 20px;
    margin-right: 20px;
}

//frames

#loading {
    top: -60px;
    overflow: hidden;
    margin: auto;
    width: 253px;
    height: 207px;
    position: relative;
}

#loading-img {
	width: 100%;
}

.map {
    height: 100%;
    margin-right: 400px;
}


#margins {
	background-color: rgba(0, 116, 217, 0.58);
	height: 6840px;
	margin: 0;
	padding: 0;
}
#no-results {
	background-color: white;
	margin: auto;
	width: 800px;
	height: 500px;
	padding: 50px;
    text-align: center;
}

#all {
	background-color: white;
	margin: auto;
	width: 900px;
	height: 100%;
	padding: 0;
}

.frame {
	padding: 30px 10px;
	height: 700px;
}

.right-panel {
	line-height: 30px;
	padding-left: 10px;
	height: 100%;
	float: right;
	width: 390px;
	overflow: auto;
	p {
		font-size: 55px;
    	line-height: 55px;
    	margin: 0;
	}

}

// .right-panel select, .right-panel input {
// font-size: 15px;
// }

// .right-panel select {
// width: 100%;
// }

// .right-panel i {
// font-size: 12px;
// }
// .right-panel {
// height: 100%;
// float: right;
// width: 390px;
// overflow: auto;
// }
// .map {
// margin-right: 400px;
// }

@media print {
.map {
  height: 500px;
  margin: 0;
}
.right-panel {
  float: none;
  width: auto;
}
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

